<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>LaundryBuoy</title>
    <link href="/img/logotitle.ico" rel="shortcut icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>


<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Customer Section</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/admin" class="btn btn-default btn-sm">Back</a>
    </div>

    <div class="col-sm-6 col-sm-offset-3 jumbotron text-center">

        <h3><span class="fa fa-sign-in"></span>Enter any detail to find</h3>

            <form action="/admin/customer/cid" class="form-inline"  method="post" >
                <div class="form-group">
                    <label class="sr-only">Customer ID:</label>
                    <input type="text" class="form-control" name="viaID" placeholder="Enter Customer ID">
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Find</button>
            </form>
            <form action="/admin/customer/email" class="form-inline"  method="post" >
                <div class="form-group">
                    <label class="sr-only">Username:</label>
                    <input type="text" class="form-control" name="viaEmail" placeholder="Enter Username">
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Find</button>
            </form>
            <form action="/admin/customer/tag" class="form-inline"  method="post" >
                <div class="form-group">
                    <label class="sr-only">Tag Number:</label>
                    <input type="text" class="form-control" name="viaTag" placeholder="Enter Tag Number">
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Find</button>
            </form>
            <form action="/admin/customer/mobile" class="form-inline"  method="post" >
                <div class="form-group">
                    <label class="sr-only">Mobile Number:</label>
                    <input type="text" class="form-control" name="viaMobile" placeholder="Enter Mobile Number">
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Find</button>
            </form>

    </div>

</div>
</body>
</html>