<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>LaundryBuoy</title>
    <link href="/img/logotitle.ico" rel="shortcut icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>


<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-book"></span> Order Section</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/admin" class="btn btn-default btn-sm">Back</a>
    </div>

    <div class="col-sm-6 col-sm-offset-3 jumbotron text-center">

        <h3><span class="fa fa-pencil"></span>View Order</h3>

            <form action="/admin/order" class="form-inline"  method="post" >
                <div class="form-group">
                    <label class="sr-only">Order ID:</label>
                    <input type="text" class="form-control" name="viaID" placeholder="Enter Order ID">
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Find</button>
            </form>
            <a href="/admin/allorder" class="btn btn-default btn-lg">View All Orders</a>
    </div>

</div>
</body>
</html>