<!doctype html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript"> 
        function incQuantity(item) {
            var itemType = item.getAttribute("data-type");
            var quantity = parseInt($('#quantity' + itemType).val());
            $('#quantity' + itemType).val(quantity + 1);
        }
        function decQuantity(item) {
            var itemType = item.getAttribute("data-type");
            var quantity = parseInt($('#quantity' + itemType).val());
            $('#quantity' + itemType).val(quantity - 1);
        }
    </script>
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Simple Quantity increment buttons with Javascript </h2>
        
        
                        <div class="col-lg-2">
                            <span>shirt</span>
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="shirt" data-field="" onclick="decQuantity(this)">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" id="quantityshirt" name="quantityshirt" class="form-control input-number" value="10" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="shirt" data-field="" onclick="incQuantity(this)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                        </div>
                        <div class="col-lg-2">
                            <span>pant</span>
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="pant" data-field="" onclick="decQuantity(this)">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" id="quantitypant" name="quantitypant" class="form-control input-number" value="10" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="pant" data-field="" onclick="incQuantity(this)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                        </div>
	</div>
</div>
</body>
</html>
