<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- UPDATE FORM -->
        <form action="/contact" method="post">
            <div class="form-group">
              <label>Select a Mobile number</label>
              <select class="form-control" name="mobile">

                <option value="" selected disabled hidden><%= customer.mainNumber %></option>
                <% customer.numbers.forEach(function(cell){ %>
                    <option>
                        <%= cell.number %>
                    </option>
                <% }) %>
                
              </select>
            </div>

            <button type="submit" class="btn btn-success btn-lg">Enter</button>
            
        </form>
        <h3><a href="/contact/mobile"><span class="fa fa-sign-in"></span>Add New Number</a></h3>

</div>

</div>
</body>
</html>