<html>
	<head>
		<title>
			LaundryBuoy
		</title>
    <link href="/img/logotitle.ico" rel="shortcut icon">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

  <link href="/css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body        { padding:10px; word-wrap:break-word; }

    </style>
    <!-- Custom CSS -->
    <style>
    body {
        padding:10px;
    }
    .othertop{margin-top:100px;}
    </style>

</head>
	<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand page-scroll sticky-logo" href="/">
            <h1><span>Laundry<span style="color: #555;">Buoy</span></span></h1>
        </a>
    </div>
    <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        	<li><a href="/profile"><span class="glyphicon glyphicon-user" style="color:black;"></span> <span style="color:black;">Signed in as 
                            <% if(user.local.email) { %>
                              <%= user.local.email %>
                            <% } else if(user.google.email) { %>
                              <%= user.google.email %>
                            <% } else { %>
                              <%= user.facebook.email %>
                            <% } %>
                        </span></a></li>
            <li ><a href="/logout"><span class="glyphicon glyphicon-log-out" style="color:black;" ></span> <span style="color:black;">Logout</span></a></li>
        </ul>
    </div>


  </div>
</nav>

    	<div class="col-sm-6 col-sm-offset-3 jumbotron text-center">

		    <h3><span class="fa fa-sign-in"></span>Your feedback is important to us.</h3>

		    <form action="/order/<%= order._id %>/feedback" class="form"  method="post" >

          <div class="row">

  		    	<div class="form-group col-md-6">
  		    		<label>Rate Washing :</label>
  		            <input type="number" class="form-control" required pattern="([1-5]){1}" name="rateService" min="1" max="5">
  		      </div>
            <div class="form-group col-md-6">
              <label>Rate Delivery :</label>
                  <input type="number" class="form-control" required pattern="([1-5]){1}" name="rateDelivery" min="1" max="5">
            </div>

          </div>

          

          <div class="form-group">
                <input type="text" class="form-control" name="feedback" placeholder="Type Here!">
          </div>

		        <button type="submit" class="btn btn-info btn-sm">submit</button>
		    </form>
		    
		    <a href="/update" class="btn btn-default btn-sm">Back</a>

        </div>
	</body>
</html>